.DS_Store
yarn-error.log
app/dist/fonts/*
app/dist/imgs/*
app/dist/index.html
app/dist/about.html
app/dist/main.js
app/dist/renderer.js
app/dist/about.js
app/dist/renderer.css
app/dist/about.css
app/src/api/test/
builds/*
dist/*
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
